body {
    background-color: rgb(255, 255, 255);
    
    
  }
  .header {
    
    background-color: #dbdee179;
    border-bottom: 1px solid #dee2e6; 
    display: flex;
}

 
  
  #myTab{
   justify-content: center;
  }
  .tab-content {
    display: flex;
    justify-content: center;
  }
  .tab-content img{
    display: block;
  }
